body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 16px;
}

#app{
	width:100%;
}


.row{
	display: flex;
	justify-content: center !important;
}
input,select{
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
}


.urlInput{
	width:400px;
	margin-right: 5px;
	margin-bottom: 10px;
}

button{
	border:none;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: green;
	color:#fff;
	font-size: 20px;
	cursor: pointer;
}

button:hover{
	background-color: #e91e63;
}

.top-container{
	margin-bottom: 50px;
	flex-wrap: wrap;
	align-items: baseline;
}

.action-container > div{
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.action-container{
	margin-right: 50px;
	width: 400px;
}

div.error{
	color:red;
	font-size: 16px;
	display: block;
}

input.time{
	width:50px;
	padding:0;
	height: 30px;
}

.second-label{
	display: inline-block;
	font-size: 23px;
	margin-left: 5px;
}
a{
	color:blue;
	text-decoration: underline;
	font-size: 30px;
}
.loader{
	position: fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.top-container button,select{
	margin-left: 10px;
}

.download-link{
	text-align: center;
}

.seo{
	visibility: hidden;
}

.mb0{
	margin-bottom: 0;
}

.playIns{
	font-size: 20px;
	display: none;
}

.loader{
	color:#fff;
	font-size: 20px;
}

iframe#ad{
	width: 100%;
	height: 500px;
}

.adLink{
	display: flex;
	justify-content: center;
}


@media screen and (max-device-aspect-ratio: 1/1), (max-aspect-ratio: 1/1){
        /*Portrait Mode*/
	.main-container{
		flex-direction: column-reverse;

	}
	.action-container{
		width:100%;
		margin-right: 0;
	}

	#app{
		width: 100%;
	}

	.urlInput{
		width: 100%;
	}

	iframe{
		width: 100%;
		margin-bottom: 20px;
	}

	.top-container{
		flex-direction: column;
		justify-content: space-between !important;
		margin-bottom: 0;
	}

	.top-container button,.top-container select{
		font-size: 19px;
		margin-left: 0;
		text-transform: none;
		margin-bottom: 20px;
	}
	.playIns{
		display: block;
	}
	.input-wrapper{
		width:calc(100% - 25px);
	}

	.error{
		margin-bottom: 10px;
	}
	.adLink{
		display: inline-block;
	    width: 100%;
	    overflow: scroll;
	    border-top: 1px solid #9E9E9E;
	    border-bottom: 1px solid #9E9E9E;
	}
}



